.skillsContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blueviolet;
}

.skillsHeader {
    position: absolute;
    top: 2000px;
    font-size: 50px;
}

.flexcontainer {
    display: inline-flex;
    background-color: white;
    justify-content: space-evenly;
    width: 100%;
}

.skills{

}

.html{

}

.css {

}

.git {

}

.javaScriptSkills {

}

.js {

}

.react {

}

.node {

}

.pythonSkills {

}

.python {

}

.django {

}

.databaseSkills {

}

.sql {

}

.oracle {

}

.postgres {

}

.mongodb {

}
