.skillsContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blueviolet;
}

.skillsHeader {
    position: absolute;
    top: 1820px;
    font-size: 50px;
}

.skills{

}

.javaScriptSkills {

}

.javaScriptHeader {

}

.pythonSkills {

}

.pythonHeader {

}

.databaseSkills {

}

.databaseHeader {

}

